@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 28px;
  line-height: 34px;
}

h2 {
  font-size: 24px;
  line-height: 29px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 14px;
  line-height: 18px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

.button1 {
  @apply px-10 py-4 text-white font-bold transition-colors bg-primary-violet hover:bg-primary-light-violet rounded-5px;
  font-size: 16px;
  line-height: 26px;
}

.button2 {
  @apply px-10 py-4 text-primary-violet dark:text-white font-bold transition-colors bg-[#eeeffc] hover:bg-[#c5c9f4] rounded-5px dark:bg-[#303642] dark:hover:bg-[#696e76];
  font-size: 16px;
  line-height: 26px;
}
